@import '../../assets/styles/mixins/mixins';
@import '../../assets/styles/colors/colors';

.catalog {
  @include flex-center(row, space-between);
  @include block();
  padding: 0;
  margin: 44px 0;
  width: 100%;
}
