@import '../../assets/styles/mixins/mixins';
@import '../../assets/styles/colors/colors';

.register {
  @include block(530px);
  margin-top: 90px;

  &__title {
    @include text-style(500, 25px, 30px);
    margin-bottom: 30px;
  }

  &__form {
    width: 100%;
    @include flex-center(column, space-between, flex-start);
    gap: 15px;
  }

  &__input-container {
    @include flex-center(column, center, flex-start);
    gap: 5px;
    width: 100%;
  }

  &__error {
    @include text-style($color: $red);
  }

  &__submit {
    @include text-style(600, 14px, 17px, $color: $white);
    @include button-style(
      $padding: 10px 15px,
      $background-color: $orange,
      $background-color-hover: $orange-hover
    );
    margin-top: 10px;
  }

  &__change-password {
    @include text-style(400, 12px, 14px, $input-gray, left);
    text-decoration: none;
    @include opacityHover();

    &_span {
      border-bottom: 1px solid $input-gray;
    }
  }
}
