@import '../../assets/styles/mixins/mixins';
@import '../../assets/styles/colors/colors';

.pnf {
  @include block();
  @include flex-center(column);
  width: 100%;
  height: 100vh;
  gap: 30px;

  &__title {
    @include text-style(600, 144px, 146px, $black, center);
  }
  &__text {
    @include text-style(400, 34px, 46px, $black, center);
  }

  &__back {
    @include button-style(10px, 10px 30px, transparent, $black, $white);
    @include text-style(400, 24px, 46px, $black, center);
  }
}
