@import '../../assets/styles/mixins/mixins';

.cards {
  @include flex-center();
  flex-wrap: wrap;
  gap: 30px 20px;

  &.list-view {
    flex-direction: column;
    align-items: stretch; // Ensure the cards stretch to full width
    gap: 20px;
  }

  &.tile-view {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 20px; // Maintain gap for tile view
  }
}
