@import '../../../assets/styles/mixins/mixins';
@import '../../../assets/styles/colors/colors';

.manufacturerSelect {
  position: relative;
  cursor: pointer;
  width: 425px;
  user-select: none;

  &__selected-option {
    height: 50px;
    @include flex-center($justify-content: space-between);
    background-color: transparent;
    outline: none;
    border: 1px solid $input-gray;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
  }

  &__options {
    position: absolute;
    border: 1px solid $input-gray;
    border-radius: 5px;
    top: 49px;
    left: 0;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    z-index: 1000;
  }

  &__arrow {
    &_disable {
      display: none;
    }
  }

  &__option {
    background-color: $white;
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;

    &_selected {
      background-color: $orange;
    }

    &:hover {
      background-color: #e0e0e0;
    }
  }
}
