@import '../../assets/styles/mixins/mixins';
@import '../../assets/styles/colors/colors';

.header {
  @include flex-center();
  width: 100%;
  background-color: $dark-charcoal;

  &__container {
    @include flex-center(row, space-between);
    @include block;
    margin: 30px 0;
  }

  &__nav {
    @include flex-center();
  }

  &__burger-button {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: $white;
    cursor: pointer;
    transition: color 0.3s ease;

    &.header__burger-button_active {
      color: $orange;
    }
  }

  &__burger {
    display: none;
  }

  &__logo {
    @include text-style($font-size: 16px, $color: $white);
    margin-right: 60px;
    cursor: pointer;
  }

  &__menu {
    @include flex-center();
    list-style: none;
    gap: 50px;
  }

  &__menu-links {
    display: none;
  }

  &__link {
    @include text-style(600, 16px, 16px, $white, left);
    cursor: pointer;
    @include opacityHover(0.2s, 0.8);

    &_active {
      $color: $orange;
    }
  }

  &__account {
    @include flex-center();
    gap: 15px;
  }

  &__language {
    @include flex-center();
    color: white;
  }

  &__button-lang {
    @include button-style(0, 7px 10px, transparent, transparent);
    @include text-style($color: white);
    &_active {
      color: $orange;
    }
  }

  &__autorization {
    @include button-style(4px, 10px, transparent, $white);
    @include text-style($color: white, $font-weight: 500);
    border: 1px solid $white;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }

  &__burger-menu {
    background-color: $dark-charcoal;
    position: absolute;
    top: 80px;
    right: 0;
    width: 250px;
    max-height: 0;
    z-index: 100;
    list-style: none;
    gap: 25px;
    transition: max-height 0.3s ease-in;
    overflow: hidden;

    &_active {
      max-height: 260px;
    }
  }

  &__avatar {
    @include flex-center();
    flex-shrink: 0;
    background-color: $black;
    color: $white;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    overflow: hidden;

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
    }
    &:hover .header__burger-menu {
      cursor: pointer;
      max-height: 260px;
    }
  }

  &__account-settings {
    position: relative;
  }
}

.menu {
  @include flex-center(column, center, flex-start);
  list-style: none;
  gap: 25px;
  padding: 25px;

  &__list {
    @include text-style($font-weight: 500, $text-align: left, $color: $white);
    @include opacityHover(0.2s, 0.7);
    cursor: pointer;

    &_acc {
      color: $gray;
    }

    &_logout {
      color: $red-hover;
      width: 100%;
    }
  }
  &__line {
    height: 1px;
    width: 100%;
    background-color: $description-gray;
  }
}

@media (max-width: 768px) {
  .header {
    &__container {
      @include flex-center(row, space-between);
      @include block;
      margin: 15px 0;
    }

    &__nav {
      display: none;
    }

    &__burger-button {
      display: block;
      cursor: pointer;
      font-size: 24px;
      background: none;
      border: none;
      color: $white;
    }

    &__burger {
      @include flex-center();
      display: none;
      flex-direction: column;
      background-color: $dark-charcoal;
      position: absolute;
      z-index: 100;
      top: 80px;
      left: 0;
      width: 200px;
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      &_active {
        display: flex;
      }
    }

    &__menu-links {
      @include flex-center(column, center, flex-start);
      list-style: none;
      gap: 10px;

      &_active {
        display: flex;
      }
    }

    &__account {
      @include flex-center();
      gap: 10px;
    }
    &__burger-menu {
      top: 65px;
    }
  }
}
