$white: #ffffff;
$black: #000000;
$orange: #ff8800;
$orange-hover: #ee7f00;
$orange-active: #e97c00;
$gray: #bebdbd;
$light-gray: #f5f5f5;
$dark-charcoal: #2c2c2c;
$input-gray: #7d7c7c;
$description-gray: #545454;
$select-gray: #eeeeee;
$img-background-gray: #d9d9d9;
$red: #ff4b4b;
$red-hover: #ff7979;
$red-active: #e23333;
$gray-hover: #807d7d;
$input-gray-hover: #eaeaea;
$gray-hover-pass: #6b6a6a;
$gray-active-pass: #202020;
$pin-hover: #dedede;
$select-gray-hover: #d9d9d9;
$select-gray-active: #eeeeee;
$button-gray-hover: #9b9b9b;
$button-gray: #7d7c7c;
$button-gray-active: #6e6e6e;
