$white: #FFFFFF;
$black: #000000;
$orange: #FF8800;
$orange-hover: #EE7F00;
$orange-active:#E97C00;
$gray: #BEBDBD;
$light-gray: #F5F5F5;
$dark-charcoal: #2C2C2C;
$input-gray: #7D7C7C;
$description-gray:#545454;
$select-gray:#EEEEEE;
$img-background-gray:#D9D9D9;
$red:#FF4B4B;
$red-hover:#FF3434;
$red-active:#E23333;
$gray-hover:#807D7D;
$input-gray-hover: #EAEAEA;
$gray-hover-pass:#6B6A6A;
$gray-active-pass:#202020;
$pin-hover:#DEDEDE;
$select-gray-hover:#D9D9D9;
$select-gray-active:#EEEEEE;
$button-gray-hover: #9B9B9B;
$button-gray:#7D7C7C;
$button-gray-active:#6E6E6E;



